.small {
  width: 200px;
  height: 200px;
  background: url(../img/small.png) no-repeat;
}
.big {
  display: flex;
  width: 500px;
  height: 350px;
  background: url(../img/big.png) no-repeat;
  transform: rotate(180reg);
  border-radius: 50%;
}
